<div id="active_admin_content">
  <div class="panel">
    <div class="panel_contents">
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Church Name</th>
              <th>Church City</th>
              <th>Church State</th>
              <th>Actions</th>
            </tr>
        </thead>
        <tbody><% @requests.each do |r| %>
            <tr>
              <td><%= r.first_name %></td>
              <td><%= r.last_name %></td>
              <td><%= r.email%></td>
              <td><%= r.church_name %></td>
              <td><%= r.church_city %></td>
              <td><%= r.church_state%></td>
              <td><%= link_to "Process", process_login_request_path(r.id)%>
              <%= link_to "Delete", delete_login_request_path(r.id), :group_id => r.id,
                            :action => :delete, :confirm => "Are you sure you want to delete this?" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>