<div id="active_admin_content">
  <%= semantic_form_for @login_request do |form| %>
    <div id='captcha_error' class='hidden' ></div>
    <div>
        <div id="introduction">
          <h2>Request a Login to SSP's Group Portal</h2>
          <h4>The MySSP system allows church leaders to register their groups, make payments, enter roster information, download
          important documents and more! It is intended to make life easier for you. To obtain a login so that you can register your
          group and start to take advantage of these tools, fill out the form below and hit Submit.</h4>
          <h4>If you have any question about any of this or would like to talk to someone in person, please contact
          Meghan Osborn, SSP's Business Manager and Registrar, at 916-488-6441.</h4>
        </div>
          <div>
            <%= form.inputs do %>
              <h3>Please Identify Yourself</h3>
              <%= form.input :first_name, :input_html => {:maxlength => 30} %>
              <%= form.input :last_name, :input_html => {:maxlength => 30}  %>
              <%= form.input :address1, :input_html => {:maxlength => 30}  %>
              <%= form.input :address2, :input_html => {:maxlength => 30}  %>
              <%= form.input :city, :input_html => {:maxlength => 30}  %>
              <%= form.input :state, :label => "State", :as => :select, :collection => State::STATE_ABBREVIATIONS %>
              <%= form.input :zip, :label => "Zip (5 digit)", :input_html => {:maxlength => 5} %>
              <%= form.input :phone_number, :label => "Phone (10 digits, with or without separators)", :hint_class => "label-hint-string", :hint => "What is the best number to reach you?" %>
              <%= form.input :phone_number_type, :as => :select, :collection => PhoneType::NAMES, :hint_class => "label-hint-select", :hint => "What type of phone number is this?" %>
              <%= form.input :alt_phone_number, :label => "Alternate Phone (10 digits, with or without separators)", :hint_class => "label-hint-string", :hint => "Please provide an alternate number." %>
              <%= form.input :alt_phone_number_type, :as => :select, :collection => PhoneType::NAMES, :hint_class => "label-hint-select", :hint => "What type of phone number is this?" %>
              <%= form.input :email, :required => true %>
              <h3>Please Identify Your Church</h3>
              <%= form.input :church_name, :input_html => {:maxlength => 30 }, :label => "What is the name of your church?" %>
              <%= form.input :church_address1, :input_html => {:maxlength => 30 }, :label => "Address first line" %>
              <%= form.input :church_address2, :input_html => {:maxlength => 30 }, :label => "Address second line" %>
              <%= form.input :church_city, :input_html => {:maxlength => 30 }, :label => "What city is the church located in?" %>
              <%= form.input :church_state, :label => "State", :as => :select, :collection => State::STATE_ABBREVIATIONS %>
              <%= form.input :church_zip, :label => "Zip (5 digit)", :input_html => {:maxlength => 5} %>
              <%= form.input :church_office_phone, :label => "Church office phone (10 digits, with or without separators)", :hint_class => "label-hint-string" %>
              <%= form.input :church_office_fax, :label => "Church fax number (10 digits, with or without separators)", :hint_class => "label-hint-string" %>
              <%= form.input :how_heard, :label => "How did you heard about SSP?" %>
            <% end %>
          </div>
      </div>
      <h4>To submit your login request, enter in the two challenge words below and click on the 'Submit Survey' button on the right. (The challenge words prevent attacks by spammers.)
      You will receive your login information via email soon.</h4>
      <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lf_N9oSAAAAADaWcPeGxsDJr1e6rBgh1OnDBRhT"> </script> <noscript> <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lf_N9oSAAAAADaWcPeGxsDJr1e6rBgh1OnDBRhT" height="300" width="500" frameborder="0"></iframe><br> <textarea name="recaptcha_challenge_field" rows="3" cols="40"> </textarea> <input type="hidden" name="recaptcha_response_field" value="manual_challenge"> </noscript>
        <br>
      <div id="challenge_failed" ></div>
      <div class="button_container" >
        <input id="login_request_submit_action" type="submit" value = "Submit" name="commit" >
      </div>
  <% end %>
</div>