<div class="panel">
    <h3><%= link_to "Download Report as CSV", request.parameters.merge({:format => :csv}) %></h3>
    <div class="panel_contents">
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Church Name</th>
                    <th>Group Name</th>
                    <th>Youth</th>
                    <th>Couns</th>
                    <th>Deposits Due</th>
                    <th>Dep Paid</th>
                    <th>Dep Outstanding</th>
                    <th>2nd Payments Due</th>
                    <th>2nd Payment Paid</th>
                    <th>2nd Payment Outstanding</th>
                    <th>Final Payments Due</th>
                    <th>Final Paid</th>
                    <th>Final Outstanding</th>
                    <th>Adjustments</th>
                    <th>Total Due</th>
                    <th>Current Balance Due</th>
                </tr>
            </thead>
            <tbody><% @groups.each do |g| %>
                    <td><%= link_to g.church.name, admin_church_path(g.church_id) %></td>
                    <td><%= link_to g.name, invoice_path(g.id),
                                    :title => "Click to review and print the current invoice." %></td>
                    <td><%= g.current_youth %></td>
                    <td><%= g.current_counselors %></td>
                    <td><%= number_to_currency g.deposit_amount %></td>
                    <td><%= number_to_currency g.deposit_paid %></td>
                    <td><%= number_to_currency g.deposit_outstanding  %></td>
                    <td><%= number_to_currency g.second_pay_amount %></td>
                    <td><%= number_to_currency g.second_pay_paid %></td>
                    <td><%= number_to_currency g.second_pay_outstanding %></td>
                    <td><%= number_to_currency g.final_pay_amount %></td>
                    <td><%= number_to_currency(g[:final_payments_paid]) %></td>
                    <td><%= number_to_currency(g[:final_payments_outstanding]) %></td>
                    <td><%= number_to_currency(g.adjustment_total) %></td>
                    <td><%= number_to_currency(g.total_due) %></td>
                    <td><%= number_to_currency(g.current_balance) %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>

</div>


