<div id="active_admin_content">
  <div id="main_content_wrapper">
     <div id="group_content">
        <%= render 'layouts/myssp_group_data' %>
       <div class="panel">
              <h3>Account Statement</h3>
              <div class="panel_contents">
                <table border="0" cellspacing="0" cellpadding="0">
                   <thead>
                       <th>Date</th>
                       <th>Description</th>
                       <th>Amount Due</th>
                       <th>Amount Received</th>
                       <th>Processing Charges</th>
                   </thead>
                   <tbody>
                           <tr>
                             <td><%= Registration.find(@group.registration_id).created_at.strftime("%m/%d/%Y") %></td>
                             <td>Deposit</td>
                             <td><% unless @group.deposit_amount.nil? %>
                                   <%= number_to_currency(@group.deposit_amount) %><% end %>
                             </td>
                             <td></td>
                             <td></td>
                           </tr>
                           <% if @group.session.payment_schedule.second_payment_date %>
                               <tr>
                                 <td><%= @group.session.payment_schedule.second_payment_date.strftime("%m/%d/%Y") %></td>
                                 <td>Second Payment</td>
                                 <td><% unless @group.second_pay_amount.nil? %>
                                       <%= number_to_currency(@group.second_pay_amount) %><% end %>
                                 </td>
                                 <td></td>
                                 <td></td>
                               </tr>
                           <% end %>
                           <% final_pay_date = @group.session.payment_schedule.final_due_at_start? ? @group.session.session_start_date.to_date : @group.session.payment_schedule.final_payment_date %>
                               <tr>
                                 <td><%= final_pay_date.strftime("%m/%d/%Y") %></td>
                                 <td>Final Payment</td>
                                 <td><% unless @group.final_pay_amount.nil? %>
                                       <%= number_to_currency(@group.final_pay_amount) %><% end %>
                                 </td>
                                 <td></td>
                                 <td></td>
                               </tr>
                           <tr>
                             <td></td>
                             <td>Total</td>
                             <td><% unless @group.total_due.nil? %>
                                   <%= number_to_currency(@group.total_due) %><% end %>
                             </td>
                             <td></td>
                             <td></td>
                           </tr>
                       <% if @group.payments %>
                            <% @group.payments.each do |p| %>
                               <tr>
                                 <td><%= p.payment_date.strftime("%m/%d/%Y")  %></td>
                                 <% if p.payment_type == "Processing Charge" %>
                                     <td><%=  "Processing Charge"  %></td>
                                     <td></td>
                                     <td></td>
                                     <td><%= number_to_currency(p.payment_amount) %></td>
                                 <% else %>
                                     <td><%=  "Payment: #{p.payment_method}"  %></td>
                                     <td></td>
                                     <td><%= number_to_currency(p.payment_amount) %></td>
                                     <td></td>
                                 <% end %>
                               </tr>
                            <% end %>
                       <% end %>
                       <tr>
                           <td></td>
                           <td>Total paid to date</td>
                         <td></td>
                         <td><%= number_to_currency(@group.fee_amount_paid) %></td>
                         <td></td>
                       </tr>
                       <tr>
                           <td></td>
                           <td>Balance Due</td>
                           <td><%= number_to_currency(@group.current_balance) %></td>
                           <td></td>
                           <td></td>
                        </tr>
                   </tbody>
                </table>
             </div>
         <div>This statement shows the entire cost of your SSP trip and does not necessary show what you currently owe.
         To determine your current (or next) payment to SSP, refer to the invoice section below. To print a copy of this
         statement for your records,
         <%= link_to " click here.", statement_path(:group_id => @group.id, :format => "pdf") %></div>
        </table>
               </div>
        </div>
    <div class="panel">
        <% if @group.session.payment_schedule.second_payment_date.nil? || @group.second_payment_date %>
            <% final_pay_date = @group.session.payment_schedule.final_due_at_start? ? @group.session.session_start_date.to_date : @group.session.payment_schedule.final_payment_date %>
            <h3><%= "Current Invoice Due: #{final_pay_date.strftime("%m/%d/%Y")}. A 10 percent late fee will be applied to all late payments."%></h3>
        <% else %>
            <h3><%= "Current Invoice Due: #{@group.session.payment_schedule.second_payment_date.strftime("%m/%d/%Y")}. A 10 percent late fee will be applied to all late payments."%></h3>
        <% end %>
        <div class="panel_contents">
            <table border="0" cellspacing="0" cellpadding="0">
              <thead>
              <th></th>
              <th>Number</th>
              <th>Amount Per</th>
              <th>Total Amount</th>
              </thead>
              <tbody>
              <tr>
                <td>Deposits</td>
                <td><%= @group.overall_high_water %></td>
                <td><%= number_to_currency @group.session.payment_schedule.deposit %></td>
                <td><%= number_to_currency @group.deposit_amount %></td>
              </tr>
              <tr>
                <td>2nd Payments</td>
                <td><%= @group.second_half_high_water %></td>
                <td><%= number_to_currency @group.session.payment_schedule.second_payment %></td>
                <td><%= number_to_currency @group.second_pay_amount %></td>
              </tr>
              <tr>
                <td>Final Payments</td>
                <td><%= @group.current_total %></td>
                <td><%= number_to_currency @group.session.payment_schedule.final_payment %></td>
                <td><%= number_to_currency @group.final_pay_amount %></td>
              </tr>
              <tr>
                <td>Net Adjustments</td>
                <td></td>
                <td></td>
                <td><%= number_to_currency @group.adjustment_total %></td>
              </tr>
              <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td><%= number_to_currency @group.total_due %></td>
              </tr>
              <tr>
                <td>Paid to date</td>
                <td></td>
                <td></td>
                <td><%= number_to_currency @group.fee_amount_paid %></td>
              </tr>
              <% if @group.second_late_penalty_due? %>
                  <tr>
                    <td>Second Payment Late Charge</td>
                    <td></td>
                    <td></td>
                    <td><%= number_to_currency @group.second_late_penalty_amount %></td>
                  </tr>
              <% end %>
              <% if @group.final_late_penalty_due? %>
                  <tr>
                    <td>Final Payment Late Charge</td>
                    <td></td>
                    <td></td>
                    <td><%= number_to_currency @group.final_late_penalty_amount %></td>
                  </tr>
              <% end %>
              <tr>
                <td>Balance Due</td>
                <td></td>
                <td></td>
                <td><%= number_to_currency @group.current_balance %></td>
              </tr>
              </tbody>
              </table>
            </div>
        <div>Instructions for updating and paying this invoice:<br>
      1. If necessary, update your enrollment numbers. To increase them, call the office at 916-488-6441.
      To decrease, <%= link_to "click here", edit_scheduled_group_path(@group.id) %>.<br>
      2. To pay by credit card, <%= link_to "click here", record_payment_path(:group_id => @group.id) %>. To pay by check,
      <%= link_to "print this invoice", invoice_path(:group_id => @group.id, :format => "pdf") %> and mail it with a check to the SSP office.</div>
        </div>
        </div>
     </div>

