<table id="availability">
  <thead>
  <tr>
    <td class="paragraph_text">
    </td>
    <% for i in 0..@matrices[:period_count] -1 do %>
        <td class="intext_emphasis">
          <%= @matrices[:period_names][i]%><br><%= @matrices[:period_sh_dates][i] %></td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% s_count = @matrices[:site_count].to_s.to_i %>
  <% for i in 0..s_count - 1 do %>
      <tr>
        <td class="table_middle availability "><%= @matrices[:site_names][i] %></td>
        <% count = @matrices[:period_count].to_s.to_i %>
        <% for j in 0..count - 1 do %>
            <% if @matrices[:session_id_matrix][i][j] > 0 %>
                <% if @matrices[:senior_high][i][j] %>
                    <% if @matrices[:avail_matrix][i][j] <= 0 %>
                        <td class="availability paragraph_text" valign="middle" height="30" align="center" style="text-align: center">Full</td>
                    <% else %>
                        <td class="availability paragraph_text" valign="middle" height="30" align="center" style="text-align: center"><%= @matrices[:avail_matrix][i][j].to_s %></td>
                    <% end %>
                <% else %>
                    <% if @matrices[:avail_matrix][i][j] <= 0 %>
                        <td class="jh_background paragraph_text" valign="middle" height="30" align="center" style="text-align: center">Full</td>
                    <% else %>
                        <td class="jh_background paragraph_text" valign="middle" height="30" align="center" style="text-align: center"><%= @matrices[:avail_matrix][i][j].to_s %></td>
                    <% end %>
                <% end %>
            <% else %>
                <td class="graybackground paragraph_text" valign="middle" height="30" align="center" style="text-align: center"></td>
            <% end %>
        <% end %>
      </tr>

  <% end %>
  <tr>
  </tr>
  <tr><td class="intext_emphasis" colspan="7" style="text-align: center" >This information is current as of <%= Time.now.strftime("%B %d at %-I:%M %p %Z") %></td></tr>
  </tbody>
</table>