<%= form_for(@registration) do |r| %>
      <%= render 'shared/error_messages_registration' %>
         <div id="active_admin_content"  class="with_sidebar">
            <div id="main_content_wrapper">
              <div id="main_content">
                  <div class="panel">
                  <div class="panel_contents">
                    <div class="attributes_table liaison" id="attributes_table_liaison_3">
                        <table border="0" cellspacing="0" cellpadding="0" >
                            <h4>Change Your Registration</h4>
                            <tr>
                                <td>Group Name</td>
                                <td><%= @registration.name %></td>
                            </tr>
                            <tr>
                                <td>Church Name</td>
                                <td><%= @registration.church.name %></td>
                            </tr>
                            <tr>
                                <td>Liaison Name</td>
                                <td><%= @registration.liaison.name %></td>
                            </tr>
                            <tr>
                                <td>Group Type</td>
                                <td><%= @registration.session_type.name %></td>
                            </tr>
                            <tr>
                                <td><%= r.label "Youth" %></td>
                                <td><%= r.number_field :requested_youth %></td>
                            </tr>
                          <tr>
                            <td><%= r.label "Counselors" %></td>
                            <td><%= r.number_field :requested_counselors %></td>
                          </tr>
                            <tr>
                                <td><%= r.label "Choice #1" %></td>
                                <td><%= r.select :request1, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => false %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #2" %></td>
                                <td><%= r.select :request2, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #3" %></td>
                                <td><%= r.select :request3, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #4" %></td>
                                <td><%= r.select :request4, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #5" %></td>
                                <td><%= r.select :request5, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #6" %></td>
                                <td><%= r.select :request6, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #7" %></td>
                                <td><%= r.select :request7, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #8" %></td>
                                <td><%= r.select :request8, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #9" %></td>
                                <td><%= r.select :request9, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                           <tr>
                                <td><%= r.label "Choice #10" %></td>
                                <td><%= r.select :request10, Session.active.by_type(@registration.group_type_id).collect {|s| [s.name, s.id]}, :include_blank => true %></td>
                            </tr>
                            </table>
                            <div class="actions">
                                <%= r.submit %>
                                <%= cancel_link %>
                            </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
<% end %>

