     <div id="active_admin_content" class="without_sidebar">
        <div id="main_content_wrapper">
            <div id="main_content">
            <div class="scopes">
                    <%= button_to "Domestic Summer Scheduled", registration_show_schedule_path(:reg_or_sched => 'scheduled', :type => 'Summer Domestic') %>
                    <%= button_to "Domestic Summer Unscheduled",
                              registration_show_schedule_path(:reg_or_sched => 'registered', :type => 'Summer Domestic') %>
                    <%= button_to "Other Scheduled",
                              registration_show_schedule_path(:reg_or_sched => 'scheduled', :type => 'Other') %>
                    <%= button_to "Other Unscheduled",
                              registration_show_schedule_path(:reg_or_sched => 'registered', :type => 'Other') %>

            </div>
            <div class="panel">
              <div class = "panel contents">
                <div class="attributes_table liaison" id="attributes_table_liaison_3">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <td></td>
                            <% for i in 0..@schedule[:period_count] do %>
                                <td><%= @schedule[:period_names][i]%></td>
                            <% end %>
                        </tr>
                        </thead>
                        <tbody>
                        <% s_count = @schedule[:site_count].to_s.to_i %>
                        <% for i in 0..s_count - 1 do %>
                        <tr>
                            <td><%= @schedule[:site_names][i] %></td>
                            <% count = @schedule[:period_count].to_s.to_i %>
                            <% for j in 0..count - 1 do %>
                               <% if params[:reg_or_sched] == "registered" then %>
                                  <td>
                                    <% if @schedule[:registration_matrix][i][j] =='-' || @schedule[:registration_matrix][i][j] == 0 then %>
                                        <%= @schedule[:registration_matrix][i][j].to_s %>
                                    <% else %>
                                        <%= link_to (@schedule[:registration_matrix][i][j]).to_s,
                                                  reg_program_session_path(:id  => @schedule[:session_id_matrix][i][j]),
                                                  :title => "Click for details."  %>
                                    <% end %>
                                  </td>
                               <% else %>
                                  <td>
                                    <% if @schedule[:scheduled_matrix][i][j] =='-' || @schedule[:scheduled_matrix][i][j] == 0 then %>
                                        <%= @schedule[:scheduled_matrix][i][j].to_s %>
                                    <% else %>
                                        <%= link_to (@schedule[:scheduled_matrix][i][j]).to_s,
                                                    sched_program_session_path(:id  => @schedule[:session_id_matrix][i][j]),
                                                    :title => "Click for details."  %>
                                    <% end %>
                                  </td>
                                <% end %>
                            <% end %>
                            <% if params[:reg_or_sched] == "registered" then %>
                                    <td><%= (@schedule[:registration_matrix][i][count]).to_s %></td>
                            <% else %>
                                    <td><%= (@schedule[:scheduled_matrix][i][count]).to_s %></td>
                            <% end %>
                        </tr>
                        <% end %>
                        <tr>
                            <% count = @schedule[:period_count].to_s.to_i %>
                            <td><%= @schedule[:site_names][s_count] %></td>
                            <% for j in 0..count do %>
                                <% if params[:reg_or_sched] == "registered" then %>
                                    <td><%= (@schedule[:registration_matrix][@schedule[:site_count]][j]).to_s %></td>
                                <% else %>
                                    <td><%= (@schedule[:scheduled_matrix][@schedule[:site_count]][j]).to_s %></td>
                                <% end %>
                            <% end %>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
              </div>
            </div>
        </div>
     </div>


