<div id='active_admin_content'>
    <div id="reg_container">
      <h1><%= "Registration Payment for #{@group.name}" %></h1>
        <div id="cc_payment_step">
        <h4>You are entering SSP's secure payment gateway. You may use a credit or debit
            card to complete your deposit payment. SSP does not record or save your credit card information.</h4>
        <div class="hidden" id="gateway_data"></div>
        <div class = "errors" id="cc_payment_errors"></div>
        <form action="" method="POST" id="cc-payment-form">
            <table>
                <tr>
                    <td><label>Payment Amount (please omit $)</label></td>
                    <td><input type="text" size="20" autocomplete="off" name="cc_payment_amount" id="cc_payment_amount" /></td>
                </tr>
                <tr>
                    <td>
                        <label id="processing_label">Include 2.9% processing fee that SSP pays</label>
                        <%= check_box_tag("include_cc_charge", "accepted", false) %>
                    </td>
                    <td class = "input_money" id="cc_processing_charge" ></td>
                </tr>
                <tr>
                    <td><label>Total To Be Charged</label></td>
                    <td class = "input_money" id="cc_to_be_charged" ></td>
                </tr>
                <tr>
                    <td><label>Card Number</label></td>
                    <td><input type="text" size="20" autocomplete="off" class="card-number" /></td>
                </tr>
                <tr>
                    <td><label>CVC</label></td>
                    <td><input type="text" size="4" autocomplete="off" class="card-cvc" /></td>
                </tr>
                <tr>
                    <td><label>Expiration (MM/YYYY)</label></td>
                    <td><span><input type="text" size="2" class="card-expiry-month"/><input type="text" size="4" class="card-expiry-year"/></span></td>
                </tr>
                <tr>
                    <td><label>Payment Comments</label></td>
                    <td><%=  text_area :payment, :comments, :cols => 30, :rows => 4 %></td>
                </tr>
                <input type = "hidden" name="group_status" value= <%= @group_status %> />
                <input type = "hidden" name="registration_id" value= <%= @registration_id %> />
            </table>
            <!--<button type="submit" class="submit-button">Submit Payment</button>-->


            <div class="clear"></div>
            <div class="button_container">
            <img class="reg_button pay_now_button" id="pay_cc_now" >
             <%=  link_to image_tag("cancel.png", :alt => "Cancel"), :back, :html => {:class=>"cancel_button",
                :title => 'Cancel and return to liaison page'} %>
            </div>
        </form>
    </div>
    <div id="confirmation_step">
            <h2 align="center">Payment Successfully Processed</h2>
            <div class="form">
                <p align="center" >Your payment has been successfully processed. Please print a copy of this page for your records. If
                    you have any questions, don't hesitate to call Meghan Osborn at 916-488-6441.</p>
                <div class="clear"></div>
              <br>
            </div>
            <div class="button_container">
                <div class="reg_button center ">
                    <%=  link_to image_tag("return.png", :alt => ":return"), :back, :class=>"return_button",
                    :title => 'Return to liaison page' %>
                </div>
            </div>
    </div>
    </div>
</div>
