
<%= form_for(@payment) do |r| %>
    <div id="active_admin_content" class="without_sidebar">
  <div id="main_content_wrapper" >
     <div id="main_content">
       <div class="hidden" id="gateway_data"></div>
       <div class = "errors" id="cc_payment_errors"></div>
       <div class="panel">
              <div>
                 <div>
                   <%= render 'layouts/myssp_group_data' %>
                   <div id="payment_form"></div>
                   <table id="payment_table">
                        <h3>Enter the payment details below.</h3>
                        <tr>
                           <td><%= r.label "Select payment date" %></td>
                           <td><%= r.date_select(:payment_date, :default => Date.today) %></td>
                        </tr>
                        <tr>
                           <td><%= r.label "Select payment type" %></td>
                           <td><%= r.select(:payment_type, options_for_select(@payment_types, @payment.payment_type)) %></td>
                        </tr>
                        <tr>
                           <td><%= r.label "Select payment method" %></td>
                           <td id="payment_method"><%= r.select(:payment_method, options_for_select(@payment_methods, @payment.payment_method)) %></td>
                        </tr>
                      </table >
                      <table id="cash_check_section">
                        <tbody>
                            <tr>
                              <td><%= r.label "Amount Received (please omit dollar sign)" %></td>
                              <td><%= r.number_field :payment_amount, :as => :number, :value => sprintf('%.2f', @payment.payment_amount) %></td>
                            </tr>
                            <tr>
                              <td><%= r.label "Payment Notes" %></td>
                              <td><%= r.text_field :payment_notes %></td>
                            </tr>

                            <tr><td><div class="actions">
                              <%= r.submit "Submit", :id => "cash_check_submit" %>
                              <%= link_to "Cancel", admin_liaison_path(@group.liaison_id)%>
                            </div></td>
                            <td></td>
                            </tr>
                        </tbody>
                        <input type = "hidden" name="group_id" value= <%= @group.id %> />
                        <input type = "hidden" name="group_status" value= <%= @group_status %> />
                      </table>

                       <table id="cc_section">
                        <tbody>
                          <tr>
                            <td><label>Payment Amount (please omit $)</label></td>
                            <td><input type="number" size="10" autocomplete="off" name="cc_payment_amount" id="cc_payment_amount" /></td>
                          </tr>
                          <tr>
                            <td>
                              <label class="processing_fee_button">Include 2.9% processing fee that SSP pays</label>
                              <%= check_box_tag("include_cc_charge", "accepted", false) %>
                            </td>
                            <td class = "input_money" name="cc_processing_charge" id="cc_processing_charge" ></td>
                          </tr>
                          <tr>
                            <td><label>Total To Be Charged</label></td>
                            <td class = "input_money" name="cc_total_charge" id="cc_to_be_charged" ></td>
                          </tr>
                          <tr>
                            <td><label>Card Number</label></td>
                            <td><input type="number" name="card_number" size="16" autocomplete="off" class="card-number" /></td>
                          </tr>
                          <tr>
                            <td><label>CVC</label></td>
                            <td><input type="number" size="3" autocomplete="off" name="card_cvc" class="card-cvc" /></td>
                          </tr>
                          <tr>
                            <td><label>Expiration (MM/YYYY)</label></td>
                            <td><span><input type="number" size="2" name="card-expiry-month" class="card-expiry-month"/>
                              <input type="number" size="4" name="card-expiry-year" class="card-expiry-year"/></span></td>
                          </tr>
                          <tr>
                            <td><label>Payment Comments</label></td>
                            <td><%=  text_area :payment, :payment_notes, :cols => 30, :rows => 4 %></td>
                          </tr>
                        </tbody>
                        <input type = "hidden" name="group_id" value= <%= @group.id %> />
                        <input type = "hidden" name="group_status" value= <%= @group_status %> />
                    <tr><td><div class="actions">
                        <%= r.submit "Submit", :id => "cc_submit" %>
                        <%= link_to "Cancel", myssp_path(@group.liaison_id)%>
                    </div></td>
                    <td></td>
                    </tr>

                   </table>
                   </div>
                 </div>
              </div>
           </div>
        <% end %>
     </div>
<div id="confirmation_step">
  <h1>Payment Successfully Processed</h1>
  <div class="form">
    <p>Your payment has been successfully processed. Please print a copy of this page for your records. If
      you have any questions, don't hesitate to call Meghan Osborn at 916-488-6441.</p>
    <table id="final_confirmation_table">
      <tr><td>Your Name</td><td><%= @group.liaison.name %></td></tr>
      <tr><td>Your Email</td><td><%= @group.liaison.email1 %></td></tr>
      <tr><td>Your Cell Phone</td><td><%= @group.liaison.cell_phone %></td></tr>
      <tr><td>Your Home Phone</td><td><%= @group.liaison.home_phone %></td></tr>
      <tr><td>Your Work Phone</td><td><%= @group.liaison.work_phone %></td></tr>
      <tr></tr>
      <tr><td>Your Church</td><td><%= @group.liaison.church.name %></td></tr>
      <tr><td>City</td><td><%= @group.liaison.church.city %></td></tr>
      <tr><td>State</td><td><%= @group.liaison.church.state %></td></tr>
      <tr></tr>
    </table>
    <div class="clear"></div>
  </div>
  <div class="button_container">
    <div class="reg_button center ">
      <img class="print_button" id="print_ninth" >
      <%=  link_to image_tag("return.png", :alt => ":return"), :back, :class=>"return_button",
                   :title => 'Return to liaison page' %>
    </div>
  </div>
</div>

  </div>
</div>