.index_content
  .group-container
    .index_as_table
      %table
        %thead
          %tr
            %th Category
            -if @programs
              -@programs.each do |s|
                %th{:style => 'text-align:right'}= s.name
            %th{:style => 'text-align:right'} All Sites
        %tbody
        -@budget_items_types.each do |item|
          %tr
            %td= item.name
            -if @programs
              - spending_total = 0
              -@programs.each do |p|
                -program_total = p.budget_item_spent_with_tax(item.id, start_date, end_date)
                -spending_total += program_total
                %td{:style => 'text-align:right'}= number_to_currency program_total
            %td{:style => 'text-align:right'}= number_to_currency spending_total
        %tfoot
          %tr
            %td Totals
            -if @programs
              -spending_total = 0
              -@programs.each do |p|
                -program_total =  p.spent_with_tax_total(start_date, end_date)
                -spending_total += program_total
                %td{:style => 'text-align:right'}= number_to_currency program_total
            %td{:style => 'text-align:right'}= number_to_currency spending_total