<div id="active_admin_content">
  <%= semantic_form_for @supporter do |form| %>
    <div id='captcha_error' class='hidden' ><%= @captcha_error %></div>
    <div id="section1" >
        <div id="introduction">
          <h2>This survey asks a lot of questions!</h2>
          <h4>The only required fields are in the first section of the survey. After that, if you don't feel like responding to any particular question or if it doesn't apply to you,
          simply leave it blank. Required fields, which are related to your contact information, are indicated with an asterisk.</h4>
          <h4>There are five short sections to the survey. The entire process should take you less than ten minutes.
            If you have any question about any of this or would like to talk to someone in person, please contact
          Rick Eaton, SSP's Executive Director, at 916-488-6441.</h4>
        </div>
          <div id="id_section">
            <%= form.inputs do %>
                  <h3>Identification and Contact Information</h3>
                  <%= form.input :first_name, :input_html => {:maxlength => 30} %>
                  <%= form.input :last_name, :input_html => {:maxlength => 30}  %>
                  <%= form.input :address1 %>
                  <%= form.input :address2 %>
                  <%= form.input :city, :input_html => {:maxlength => 30} %>
                  <%= form.input :state, :label => "State", :as => :select, :collection => State::STATE_ABBREVIATIONS %>
                  <%= form.input :zip, :label => "Zip (5 digit)", :input_html => {:maxlength => 5} %>
                  <%= form.input :phone, :label => "Phone (10 digits, with or without separators)", :hint_class => "label-hint-string", :hint => "What is the best number to reach you?" %>
                  <%= form.input :phone_type, :as => :select, :collection => ["Mobile", "Home", "Work", "Other"], :hint_class => "label-hint-select", :hint => "What type of phone number is this?" %>
                  <%= form.input :email, :required => true %>
                  <%= form.input :newsletter_subscribe, :label => "I want to subscribe to SSP's monthly newsletter.", :input_html => {:checked => "checked"} %>
                  <%= form.input :gender, :hint_class => "label-hint-select", :hint => "What is your gender?", :as => :select, :required => true, :collection => ["Female", "Male", "Decline to state"] %>
            <% end %>
          </div>
      <div class="button_container" >
        <input id="survey_submit_first" type="button" value = "Continue to the Next Section of the Survey" class = "next_button" >
      </div>
    </div> <!--Section 1-->
    <div id="section2">
        <h2>Section Two: Your SSP Connection and How You Would Like To Help</h2>
          <div id="ssp_connection_section">
            <%= form.inputs do %>
                <h3>Your Connection To Sierra Service Project</h3>
                <h4>Please tell us how you are connected to SSP. Check as many boxes as apply.</h4>
                <%= form.input :ssp_current_youth, :label => "I am a current youth participant.", :as => :boolean %>
                <%= form.input :ssp_former_youth, :label => "I was a youth participant.", :as => :boolean %>
                <%= form.input :ssp_adult, :label => "I was/am an adult counselor.", :as => :boolean %>
                <%= form.input :ssp_parent, :label => "I am the parent of a current or former youth volunteer.", :as => :boolean %>
                <%= form.input :ssp_grandparent, :label => "I am the grandparent of a current or former youth volunteer.", :as => :boolean %>
                <%= form.input :ssp_leader, :label => "I am a youth leader or pastor at my church.", :as => :boolean %>
                <%= form.input :ssp_heard, :label => "I have heard about SSP at my church.", :as => :boolean %>
                <%= form.input :ssp_friends, :label => "I have heard about SSP from friends and acquaintances.", :as => :boolean %>
                <%= form.input :ssp_web, :label => "I learned about SSP on the web.", :as => :boolean %>
                <%= form.input :ssp_other, :label => "If you are connected in another (or additional) way, please tell us:", :as => :text %>

            <% end %>
          </div>
          <div id="desires_section">
            <%= form.inputs do %>
                <h3>How Would You Like To Contribute To SSP's Mission? How Would You Like To Get Involved?</h3>
                <h4>What kinds of volunteer activities would you be excited about? Please check as many as apply. If you have other ideas about how you could contribute, please use the space provided to tell us about them.</h4>
                <%= form.input :desire_board, :label => "Service on SSP's Board (Service on the board requires 4 to 20 hours of work per month, attendance at four annual board meetings and participation in periodic teleconferences)", :as => :boolean %>
                <%= form.input :desire_training, :label => "Staff Training (Assist with staff training)", :as => :boolean %>
                <%= form.input :desire_outreach, :label => "Outreach. (Outreach to churches and church-affiliated schools to spread the word about SSP)", :as => :boolean %>
                <%= form.input :desire_publicity, :label => "Publicity and PR (Promoting SSP in the news media)", :as => :boolean %>
                <%= form.input :desire_work_projects, :label => "Work Projects (Working on and helping to lead occasional special construction projects)", :as => :boolean %>
                <%= form.input :desire_web, :label => "Web Page Design / Production", :as => :boolean %>
                <%= form.input :desire_other, :label => "Other Skills", :as => :boolean %>
                <%= form.input :desire_other_comments,  :label => "Please tell us about any other ways that you would like to contribute:", :as => :text %>
            <% end %>
      </div>
        <div class="button_container" >
          <input id="survey_submit_second" type="button" value = "Continue to the Next Section of the Survey" class = "next_button" >
          <input id="survey_back_second" type="button" value = "Go Back to Previous Section" class = "back_button" >
        </div>
    </div> <!--Section 2 -->

    <div id="section3">
      <h2>Section Three: Church, Occupation and Community Connections</h2>
        <div id="church_section">
        <%= form.inputs do %>
            <h3>Church Information</h3>
            <%= form.input :church_name, :label => "Church: What church do you attend?", :input_html => {:maxlength => 60} %>
            <%= form.input :church_city, :label => "Where is it located? Please enter the city and state.", :input_html => {:maxlength => 60} %>
            <%= form.input :church_denom, :collection => ["Episcopal", "United Methodist", "Presbyterian", "Lutheran", "UCC", "Nondenominational", "Baptist", "Catholic", "Other"], :label => "Please select the denomination" %>
            <%= form.input :church_role, :collection => ["Clergy", "Lay person", "Volunteer Youth Leader", "Non-clergy staff"], :label => "What is your role in the church?" %>
        <% end %>
       <div id="occupation_section">
        <%= form.inputs do %>
            <h3>Occupation Information</h3>
            <%= form.input :profession, :label => "What is your occupation or profession?" %>
            <%= form.input :employer, :label => "Who do you work for?" %>
            <%= form.input :employer_match, :as => :radio, :label => "Does your employer match personal charitable contributions?" %>
            <%= form.input :employer_foundation, :label => "Does your employer have a foundation?", :as => :radio %>
            <%= form.input :employer_comments, :label => "Are there other ways that your work could benefit SSP?", :as => :text %>
        <% end %>
      </div>
      <div id="comm_cx_section">
        <%= form.inputs do %>
            <h3>Community Connections</h3>
            <%= form.input :service_club, :label => "Do you belong to a service club? Please indicate which type." , :as => :select,
                        :collection => ["None", "Rotary", "Kiwanis", "Lions", "POE", "Other"] %>
            <%= form.input :other_community, :label => "Do you belong to any other community or civic organizations? (Chamber of Commerce, School Board, etc)",
                        :as => :text %>
            <%= form.input :other_community_text, :label => "Do you have any other community connections which may be helpful to your work with SSP? If
                so, please indicate:", :as => :text %>

        <% end %>
      </div>
      <div class="button_container" >
        <input id="survey_submit_third" type="button" value = "Continue to the Next Section of the Survey" class = "next_button" >
        <input id="survey_back_third" type="button" value = "Go Back to Previous Section" class = "back_button" >
      </div>
        </div>
    </div> <!-- Section 3 -->
    <div id="section4">
      <h2>Section Four: Skills and Expertise</h2>
      <div id="skills_exp_section">
        <%= form.inputs do %>
            <h3>Skills and Professional Experience</h3>
            <h4>Please tell us as much as you can about your professional skills and expertise. Please check as many items as apply,
              and provide additional information in the space provided.</h4>
            <%= form.input :skill_architecture, :label => "Architecture/Structure Design", :as => :boolean %>
            <%= form.input :skill_auto_repair, :label => "Auto Repair", :as => :boolean %>
            <%= form.input :skill_board, :label => "Nonprofit Board Service", :as => :boolean %>
            <%= form.input :skill_carpentry, :label => "Carpentry / Construction", :as => :boolean %>
            <%= form.input :skill_comp_prog, :label => "Computer Programming", :as => :boolean %>
            <%= form.input :skill_comp_prog_comments, :label => "If you have computer programming expertise, please indicate what type(s)?", :as => :text %>
            <%= form.input :skill_const, :label => "Construction Training", :as => :boolean %>
            <%= form.input :skill_electrical, :label => "Electrical / Electrician", :as => :boolean %>
            <%= form.input :skill_food_prep, :label => "Food Prep Training", :as => :boolean %>
            <%= form.input :skill_plumbing, :label => "Plumbing", :as => :boolean %>
            <%= form.input :skill_press, :label => "Press / Public Relations", :as => :boolean %>
            <%= form.input :skill_safety, :label => "Safety", :as => :boolean %>
            <%= form.input :skill_sewing, :label => "Sewing", :as => :boolean %>
            <%= form.input :skill_tool_repair, :label => "Tool Repair", :as => :boolean %>
            <%= form.input :skill_video, :label => "Video Production", :as => :boolean %>
            <%= form.input :skill_web, :label => "Web Page Design / Production", :as => :boolean %>
            <%= form.input :skill_other_comments, :label => "What other skills and expertise do you have that might help SSP?",
                           :as => :text %>
        <% end %>
      </div>
      <div class="button_container" >
        <input id="survey_submit_fourth" type="button" value = "Continue to the Final Section of the Survey" class = "next_button" >
        <input id="survey_back_fourth" type="button" value = "Go Back to Previous Section" class = "back_button" >
      </div>
    </div>  <!-- Section 4 -->
    <div id="section5">
      <h2>Section Five: Fundraising Experience and Additional Comments</h2>
      <div id="fundraising_section">
        <%= form.inputs do %>
            <h3>Fundraising Information</h3>
            <%= form.input :fund_exper, :label => "Do you have fundraising experience?", :as => :radio %>
            <%= form.input :fund_exper_comments, :label => "Please explain your fundraising experience.", :as => :text %>
            <%= form.input :fund_connect, :label => "Do you have connections with any foundations?" , :as => :radio %>
            <%= form.input :fund_connect_comments, :label => "Please explain your foundation connections.", :as => :text %>
            <%= form.input :fund_in_kind, :label => "Do you have connections to in-kind donations like food, tools, vehicles, construction materials and other items?" ,  :as => :radio %>
            <%= form.input :fund_in_kind_comments, :label => "Please explain your in-kind donation connections.", :as => :text %>
        <% end %>
      </div>
      <div id="final_section">
        <%= form.inputs do %>
            <h3>Please Add Any Additional Comments</h3>
            <%= form.input :final_comments, :label => "If you have any final comments or information you would like to pass along, please enter it here:", :as => :text %>
      <% end %>
      </div>
      <h4>To submit the survey and have your information saved, enter in the two challenge words below and click on the 'Submit Survey' button on the right. (The challenge words prevent attacks by spammers.)</h4>
      <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lf_N9oSAAAAADaWcPeGxsDJr1e6rBgh1OnDBRhT"> </script> <noscript> <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lf_N9oSAAAAADaWcPeGxsDJr1e6rBgh1OnDBRhT" height="300" width="500" frameborder="0"></iframe><br> <textarea name="recaptcha_challenge_field" rows="3" cols="40"> </textarea> <input type="hidden" name="recaptcha_response_field" value="manual_challenge"> </noscript>
        <br>
      <div id="challenge_failed" ></div>
      <div class="button_container" >
        <!--<%= form.action :submit, :label => "You Are Finished! Please Submit The Survey.",  :submit_html => { :class => "test" } %>-->
        <input id="survey_back_fifth" type="button" value = "Go Back to Previous Section" class = "back_button" >
        <input id="supporter_submit_action" type="submit" value = "You Are Finished! Please Submit The Survey." name="commit" >

      </div>

      <% end %>
  </div> <!-- Section 5 -->
  <div class="clear"></div>
      <div id="progress_bar">
        <div id="progress_text">0% Complete</div>
      </div>
  </div>
</div>
<div id="progress"></div>