!!!
%html
  %head
    %title SSP | #{@title}

  %body.logged_in
    #title_bar
      #titlebar_left
        #logo
          = link_to image_tag('logo.png', :alt => "Sierra Service Project", :width => 60, :height => 60), "http://www.sierraserviceproject.org", :title => "Go to SSP Website"
        %span
          .breadcrumb
            %a{:href => '/ops_pages/show'} SSP SiteManager
            .breadcrumb_sep |
        %h2
          SSP SiteManager: #{@title}
    - flash.each do |key, value|
      .flash

        = value

    .container
      - short_nav = (render_navigation :level => 2, :renderer => :text)
      - skip_second_nav = short_nav.nil? || short_nav.empty?
      #main-nav.span-24.last.nav-bar{:class => skip_second_nav ? "non-admin" : ""}
        = render_navigation :level => 1
      - unless skip_second_nav
        #page-info.span-24.last
          #site-nav= render_navigation :level => 2
      #action-links.span-24.last.prepend-top
        #action-anchors
          = render_navigation :context => :actions, :renderer => :links
      #content.span-24.last

        .span-24.last= yield

      #footer.span-24.last

